certifi==2022.9.24
contourpy==1.0.5
cycler==0.11.0
fonttools==4.37.4
kiwisolver==1.4.4
matplotlib==3.6.0
networkx==2.8.7
numpy==1.23.3
packaging==21.3
pandas==1.5.0
Pillow==9.2.0
plyfile==0.7.4
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.4
scipy==1.9.1
six @ file:///AppleInternal/BuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-110/six-1.15.0-py2.py3-none-any.whl
